@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.floaty {
  animation: floaty 3s ease-in-out infinite;
}

.prose h1,
.prose h2,
.prose h3 {
  @apply font-semibold tracking-tight;
}

.prose a {
  @apply underline underline-offset-4;
}

.prose code {
  @apply rounded bg-neutral-100 px-1 py-0.5;
}

.prose p {
  margin: 1rem 0;
}
